.KofiBtnContainer {
    display:inline-block;
    white-space:nowrap;
    min-width: 150px;

    .KofiButton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 0.25rem;
        text-decoration: none;
        padding-left: 1rem;
        padding-right: 1rem;
        box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
        overflow-wrap:break-word;

        &:hover {
            opacity:.85;
        }

        .KofiText {
            color: #fff;
            text-align: center;
            font-weight: 700;
            line-height: 14px;
            height: 14px;
            font-size: 14px;
            letter-spacing: -0.15px;
            font-family:'Quicksand',Helvetica,Century Gothic,sans-serif !important;
            text-shadow: 0 1px 1px rgba(34, 34, 34, 0.05);
        }

        .KofiImg {
            height: 13px;
            width:20px;
            border:none;
            content:url('https://storage.ko-fi.com/cdn/cup-border.png');
            animation: kofi-wiggle 3s infinite;
        }
    }
}

@keyframes kofi-wiggle {
    0%{
        transform:rotate(0) scale(1)
    }
    60%{
        transform:rotate(0) scale(1)
    }
    75%{
        transform:rotate(0) scale(1.12)
    }
    80%{
        transform:rotate(0) scale(1.1)
    }
    84%{
        transform:rotate(-10deg) scale(1.1)
    }
    88%{
        transform:rotate(10deg) scale(1.1)
    }
    92%{
        transform:rotate(-10deg) scale(1.1)
    }
    96%{
        transform:rotate(10deg) scale(1.1)
    }
    100%{
        transform:rotate(0) scale(1)
    }
}